.flights {
    display: flex;
    flex-wrap: wrap;
}
.flight {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 400px;
}
.airplane {
    width: 90%;
}
.airline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 70%;
    margin: auto;
}
.man {
    position: absolute;
    left: 10px;
    width: 60px;
}
.pilot {
    bottom: 90px;
}   
.copilot {
    top: 100px;
}